.tab {
  z-index: 9;
  right: 0;
  top: 25px;
  padding: 10px;
  position: absolute;
  background: var(--white);
  box-shadow: 0px 6px 10px var(--shadow);
  border-radius: 8px;
  max-height: 300px;
  overflow-y: auto;
}

.tab_pane li {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: var(--primary-text-color);
}

.tab_pane li:not(:last-child) {
  margin-bottom: 20px;
}

.tab_pane li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-bg-color);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.tab_pane li:hover::after {
  background-color: var(--primary-color05);
  transform: scaleX(1);
  transform-origin: bottom center;
}

.tab_pane .active_tab::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
