.product_wrapper {
  display: flex;
  align-items: center;
  column-gap: 60px;
  row-gap: 20px;
  justify-content: space-around;
}

.product_wrapper:not(:last-child) {
  margin-bottom: 100px;
}

.left_product_wrapper {
  flex: 0.6;
}

.product_thumbnail_section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.thumbnail {
  width: 150px;
  height: 150px;
  object-fit: contain;
  background: var(--secondary-bg-color);
  padding: 20px;
}

.thumbnail_info label {
  color: var(--primary-bg-color);
  font-weight: 500;
}

.thumbnail_info .thumbnail_title {
  font-weight: 900;
  margin: unset;
}

.thumbnail_info button {
  background-color: var(--cta-bg-color);
  color: var(--white);
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 16px;
}

.thumbnail_info button:hover {
  background-color: var(--cta-bg-hover-color);
}

.product_info {
  margin-top: 30px;
  width: 100%;
}

.product_info tr {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.product_info tr:not(:last-child) {
  margin-bottom: 10px;
}

.product_description {
  margin-top: 16px;
}

.product_image_wrapper {
  flex: 0.6;
  position: relative;
}

.product_image {
  object-fit: contain;
  width: 100%;
}

.angle_bracket {
  background-color: var(--primary-bg-color);
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-size: 1.5rem;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.angle_bracket:nth-child(1) {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.angle_bracket:nth-child(3) {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.angle_bracket:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .product_wrapper {
    flex-flow: column;
  }

  .left_product_wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .product_thumbnail_section {
    flex-flow: column;
    align-items: flex-start;
  }

  .angle_bracket {
    font-size: 0.7rem;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 15px;
  }

  .angle_bracket:nth-child(1) {
    left: 10px;
  }

  .angle_bracket:nth-child(3) {
    right: 10px;
  }
}
