.search_wrapper {
  border: 1px solid grey;
  max-width: fit-content;
  padding: 5px 10px;
  border-radius: 4px;
  min-width: 300px;
  /* display: flex;
  justify-content: space-between;
  gap: 10px; */

  position: relative;
  margin-top: 20px;
}

.search_wrapper input {
  box-shadow: 2px black;
  border: none;
  outline: none;
}

.search_wrapper button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 10px;
}
