.search_wrapper {
  border: 1px solid var(--white);
  max-width: fit-content;
  border-radius: 4px;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_wrapper input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  color: var(--white);
  padding: 8px 10px;
}

.search_wrapper input::placeholder {
  color: var(--white-05);
}

.search_wrapper button {
  cursor: pointer;
  background-color: var(--white);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  border-radius: 0px 4px 4px 0px;
  padding: 8px 10px;
}
